<h1>The Benefits of Water</h1>

<div id="intro">
	


<div class="factbox1">
<p> <b> 1.  Drinking Water Helps Maintain the Balance of Body Fluids. </b> Your body is composed of about 60% water. The functions of these bodily fluids include digestion, absorption, circulation, creation of saliva, transportation of nutrients, and maintenance of body temperature.

"Through the posterior pituitary gland, your brain communicates with your kidneys and tells it how much water to excrete as urine or hold onto for reserves," says Guest, who is also an adjunct professor of medicine at Stanford University.

When you're low on fluids, the brain triggers the body's thirst mechanism. And unless you are taking medications that make you thirsty, Guest says, you should listen to those cues and get yourself a drink of water, juice, milk, coffee -- anything but alcohol. "Alcohol interferes with the brain and kidney communication and causes excess excretion of fluids which can then lead to dehydration," he says. </p>
</div>

<div class="factbox2">
<p><b> 2.  Water Can Help Control Calories.</b> For years, dieters have been drinking lots of water as a weight loss strategy. While water doesn't have any magical effect on weight loss, substituting it for higher calorie beverages can certainly help.

"What works with weight loss is if you choose water or a non-caloric beverage over a caloric beverage and/or eat a diet higher in water-rich foods that are healthier, more filling, and help you trim calorie intake," says Penn State researcher Barbara Rolls, PhD, author of The VolumetricsWeight Control Plan.

Food with high water content tends to look larger, its higher volume requires more chewing, and it is absorbed more slowly by the body, which helps you feel full. Water-rich foods include fruits, vegetables, broth-based soups, oatmeal, and beans.</p>
</div>

<div class="factbox3">
<p> <b>3. Water Helps Energize Muscles.</b> Cells that don't maintain their balance of fluids and electrolytes shrivel, which can result in muscle fatigue. "When muscle cells don't have adequate fluids, they don't work as well and performance can suffer," says Guest.

Drinking enough fluids is important when exercising. Follow the American College of Sports Medicine guidelines for fluid intake before and during physical activity. These guidelines recommend that people drink about 17 ounces of fluid about two hours before exercise. During exercise, they recommend that people start drinking fluids early, and drink them at regular intervals to replace fluids lost by sweating.</p>
</div>

<div class ="factboxspace"></div>

<div class="factbox4">
<p><b>4. Water Helps Keep Skin Looking Good.</b> Your skin contains plenty of water, and functions as a protective barrier to prevent excess fluid loss. But don't expect over-hydration to erase wrinkles or fine lines, says Atlanta dermatologist Kenneth Ellner, MD.

"Dehydration makes your skin look more dry and wrinkled, which can be improved with proper hydration," he says. "But once you are adequately hydrated, the kidneys take over and excrete excess fluids."

You can also help "lock" moisture into your skin by using moisturizer, which creates a physical barrier to keep moisture in.</p>
</div>

<div class="factbox5">
<p> <b>5. Water Helps Your Kidneys.</b> Body fluids transport waste products in and out of cells. The main toxin in the body is blood urea nitrogen, a water-soluble waste that is able to pass through the kidneys to be excreted in the urine, explains Guest. "Your kidneys do an amazing job of cleansing and ridding your body of toxins as long as your intake of fluids is adequate," he says.

When you're getting enough fluids, urine flows freely, is light in color and free of odor. When your body is not getting enough fluids, urine concentration, color, and odor increases because the kidneys trap extra fluid for bodily functions.

If you chronically drink too little, you may be at higher risk for kidney stones, especially in warm climates, Guest warns.</p>
</div>

<div class="factbox6">
<p><b>6. Water Helps Maintain Normal Bowel Function.</b>Adequate hydration keeps things flowing along your gastrointestinal tract and prevents constipation. When you don't get enough fluid, the colon pulls water from stools to maintain hydration -- and the result is constipation.

"Adequate fluid and fiber is the perfect combination, because the fluid pumps up the fiber and acts like a broom to keep your bowel functioning properly," says Koelemay.</p>
</div>

</div>

<!-- <p>In scelerisque interdum lectus, non bibendum lorem iaculis sit amet. Aliquam non arcu nec mi laoreet ullamcorper. Fusce ut neque viverra, laoreet erat eu, auctor nisi. Nunc imperdiet vulputate purus, vehicula dictum ipsum blandit eget. Suspendisse aliquet elit eget pharetra accumsan. Quisque gravida turpis eget nulla volutpat, non fermentum lacus placerat. Nullam pulvinar ac nisi id euismod. Etiam vel vestibulum tortor. Nunc id commodo libero, quis imperdiet metus. Nunc vulputate enim quam, non finibus nunc eleifend eget. Nam velit sem, posuere vel arcu et, feugiat maximus ex.</p>

<p>Proin tincidunt feugiat nibh sed molestie. Etiam at pulvinar mi. Curabitur enim ipsum, eleifend ut tempus vel, malesuada bibendum mi. Aliquam suscipit urna in nulla dictum, quis dictum tortor commodo. Pellentesque vehicula quam ac sollicitudin convallis. Etiam tortor enim, vestibulum ac ante quis, molestie pellentesque metus. Pellentesque rhoncus, nisi non mattis sollicitudin, dui mauris molestie mi, nec rutrum libero diam id sapien. Suspendisse potenti.</p>

<p>Nullam vehicula, elit a sagittis cursus, lectus ante feugiat ex, in interdum est nisi vel diam. Donec consectetur, dolor vel pharetra pretium, massa eros dictum orci, vel dignissim tortor ipsum nec ex. Mauris luctus, augue id efficitur rutrum, eros dolor consectetur odio, in blandit felis dolor ac lacus. Vivamus ullamcorper pulvinar imperdiet. Donec eget laoreet turpis, a fermentum risus. Proin pellentesque, mi sed viverra gravida, dolor dui varius odio, at convallis elit sapien nec mauris. In eu ullamcorper erat. Pellentesque efficitur arcu velit, nec blandit nunc tempus in. Donec sollicitudin, ex nec vehicula luctus, ipsum augue ultrices libero, sit amet varius neque velit a ex.</p> -->