<h1>The Benefits of Water</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at nisi ut arcu mollis tempor. Aenean tincidunt felis sed purus scelerisque, sed consectetur nunc porttitor. Suspendisse sit amet velit efficitur, luctus augue eget, tempus justo. Vivamus eu risus lectus. Curabitur fermentum vehicula venenatis. Maecenas a venenatis ipsum, pharetra vestibulum lectus. Vestibulum non mi ut urna mattis porttitor vel vitae orci. Praesent sed quam nec sem elementum blandit vitae at erat. Nunc efficitur orci ac justo euismod, eu lobortis dui pharetra. Donec a sapien eu tortor vehicula convallis. </p>

<div>
	<div id ="wrapper">

<p id='weight1'>In scelerisque interdum lectus, non bibendum lorem iaculis sit amet. Aliquam non arcu nec mi laoreet ullamcorper. Fusce ut neque viverra, laoreet erat eu, auctor nisi. Nunc imperdiet vulputate purus, vehicula dictum ipsum blandit eget. Suspendisse aliquet elit eget pharetra accumsan. Quisque gravida turpis eget nulla volutpat, non fermentum lacus placerat. Nullam pulvinar ac nisi id euismod. Etiam vel vestibulum tortor. Nunc id commodo libero, quis imperdiet metus. Nunc vulputate enim quam, non finibus nunc eleifend eget. Nam velit sem, posuere vel arcu et, feugiat maximus ex.</p>

Donec nec enim tempor, ornare lacus eu, placerat orci. Praesent ut ante viverra, molestie lectus quis, tempus magna. Maecenas nisl tortor, gravida cursus varius vel, rutrum sit amet orci. Aenean et dictum leo. Duis vitae efficitur felis. Sed auctor sem iaculis, accumsan sem viverra, mattis sem. Morbi id magna ullamcorper, faucibus lorem eget, varius libero. Nunc eget tortor egestas, imperdiet nulla ut, maximus erat. In at tincidunt turpis. Quisque id molestie justo. Donec tempus scelerisque lectus id consequat. Suspendisse faucibus euismod augue, non consequat nibh sagittis sit amet. Fusce pulvinar condimentum dolor facilisis fringilla.

	</div>
</div>

Proin tincidunt feugiat nibh sed molestie. Etiam at pulvinar mi. Curabitur enim ipsum, eleifend ut tempus vel, malesuada bibendum mi. Aliquam suscipit urna in nulla dictum, quis dictum tortor commodo. Pellentesque vehicula quam ac sollicitudin convallis. Etiam tortor enim, vestibulum ac ante quis, molestie pellentesque metus. Pellentesque rhoncus, nisi non mattis sollicitudin, dui mauris molestie mi, nec rutrum libero diam id sapien. Suspendisse potenti.

Nullam vehicula, elit a sagittis cursus, lectus ante feugiat ex, in interdum est nisi vel diam. Donec consectetur, dolor vel pharetra pretium, massa eros dictum orci, vel dignissim tortor ipsum nec ex. Mauris luctus, augue id efficitur rutrum, eros dolor consectetur odio, in blandit felis dolor ac lacus. Vivamus ullamcorper pulvinar imperdiet. Donec eget laoreet turpis, a fermentum risus. Proin pellentesque, mi sed viverra gravida, dolor dui varius odio, at convallis elit sapien nec mauris. In eu ullamcorper erat. Pellentesque efficitur arcu velit, nec blandit nunc tempus in. Donec sollicitudin, ex nec vehicula luctus, ipsum augue ultrices libero, sit amet varius neque velit a ex.