<head>
	<link rel= "stylesheet" type="text/css" href="/flickity.css">
</head>


<div class="gallery js-flickity">
  <div class="gallery-cell" id="mainCell">
  	<h2> Fresh Water Delivered to your door</h2>
  </div>
  <div class="gallery-cell" id="secondCell">
  	<h2> fresh water </h2>
  </div>
  <div class="gallery-cell" id ="thirdCell">
  	<h2> fresh water </h2>
  </div>
  <div class="gallery-cell" id="fourthCell">
  	<h2> fresh water </h2>
  </div>
</div>

<!-- <div class="box1">
          <a href="/Plans"> See our <b>Plans</b></a>
</div> -->

<div class="section">


</div>

 