<head>
	<link rel= "stylesheet" type="text/css" href="/flickity.css">
</head>


<div class="gallery js-flickity">
  <div class="gallery-cell" id="mainCell">
  	<h2> Fresh Water Delivered to your door</h2>
    <br>
    <p> Staying hydrated is important for clean, healthy living. That's where we come in! </p>
    <p> We want to insure that you always have water at hand, so we provide you with suitable plans that deliver water on a monthly basis right to your door!</p>
  </div>
  <div class="gallery-cell" id="secondCell">
  	<h2> Did you know that your body is made up of 60% water & that 71% of the Earth's surface is covered with Water?</h2>
    <br><br><br> <br><br><br> <br><br><br> 
    <p> Without it, your organs would not be able to work properly. Water flushes toxins out of vital organs, carries nutrients, and provides a moist environment for ear, nose and throat tissue.</p>
    <p>  Your immune system is able to function properly and fight off illness because of water. You also need water to digest your food and get rid of waste. Water is vital to keep your body functioning, so it’s important to make sure you’re drinking enough. </p>
  </div>
  <div class="gallery-cell" id ="thirdCell">
    <h2> How much water Should you drink?</h2>
    <br>
    <p> So how much water do you need to be drinking? The Institute of Medicine says that an adequate intake is roughly 3 liters of total beverages a day for men and 2.2 liters for women. </p>
    <p> About 20% of your daily water intake comes from foods, so you would need to consume the rest through water or other beverages. Here is the recommended daily beverage intake for men and women in addition to water consumed through food:Water </p>
    <h2> Men: 2.4 liters = about 80 ounces = 10 (8 oz) cups of water per day </h2>
    <h2> Women: 1.76 liters = about 60 ounces = 7.5 (8 oz) cups of water per day </h2>
  </div>
  	
  <div class="gallery-cell" id="fourthCell">
  	<h2> Great water makes the difference in everything! </h2>
    <br>
    <p> Want to have the best tasting coffee? You'll need the best tasting water then! </p>
    <p> Using fresh clean water wil make your food and drinks taste even better than they usually do </p>
  </div>
</div>

<!-- <div class="box1">
          <a href="/Plans"> See our <b>Plans</b></a>
</div> -->

<div class="section_main">


</div>

 