<!DOCTYPE html>
<html>
	<head>
		<title> Quenched </title>
		<link rel= "stylesheet" type="text/css" href="/styles.css">
		<script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<meta charset="UTF-8"/>
	</head>

<body>
	<nav>
		<ul>
			<li href="/"> Quenched </li>
			<li href="/whyDeliver"> Why Deliver? </li>
			<li href="/Plans"> Plans </li>
			<li href="aboutUs"> About Us </li>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
