<!DOCTYPE html>
<html>
	<head>
		<title> Quenched </title>
		<link rel= "stylesheet" type="text/css" href="/styles.css">
		<script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src = "/jquery.color.js"></script>
		<script type="text/javascript" src = "/flickity.pkgd.js"></script>
		<script type="text/javascript" src = "/mainjs.js"></script>
		<meta charset="UTF-8"/>
	</head>

	<nav>
		<div id = "header_nav">
			<ul>
				<li> <h1> <a href="/"> Quenched </a></h1></li>
				<li> <h3><a href="/whyDeliver"> Why Deliver? </a></h3> </li>
				<li> <h3><a href="/Plans"> Plans </a><h3></li>
				<li> <h3><a href="/benefitsOfWater"> Benefits of Water </a><h3></li>
				<li> <h3><a href="aboutUs"> About Us</a><h3> </li>
				</ul>	
		</div>
	</nav>
		
	

<body>
	

<%= yield %>

		<footer>
			<div id="footer">
		    	<div id="footer-wrapper">
		  	        <ul>
			        	<li><a href=""> Careers </a></li>
						<li><a href=""> News & Press </a></li>
						<li><a href=""> Privacy Policy </a></li>
						<li><a href=""> Help </a></li>
		        	</ul>
				</div> <!-- wrapper ends-->
				<div class="icons">
			           	<a href="https://twitter.com/" target="_blank"><img src="https://www.nasa.gov/sites/default/files/images/twitter-icon.png" width="48" height="48" alt="Twitter" /></a>
						<a href="https://linkedin.com/" target="_blank"><img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/128/linkedin-icon.png" width="48" height="48" alt="LinkedIn" /></a>
						<a href="http://www.facebook.com" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" width="48" height="48" alt="Facebook" /></a>
				</div> <!-- end icons div -->	
	   		</div>
		</footer>


</body>
</html>
