

<div id="wrapper">

	<div id="plan1">
		<a href="#"><img src="/124_1.jpg"> Plan 1</a>
               
   	</div>


	<div id="plan2">
       <a href="#"> Plan 2</a>
	</div>

	<div id="plan3">
      <a href="#"> Plan 3</a>
	</div>

</div>

<div id ="dialog1" title="Dialog Title">
	<h1> Send us an email </h1>
		<form action = "/Plans" method="POST">

	<label for="email"> Email</label>
	<input type ="text" name="email"></br>

	<label for="message"> Message</label>
	<textarea type="text" name="message"></textarea><br>
	
	<input type="submit">
</form>
</div>