
<h1> With these monthly plans, you'll be sure to always have water at hand!</h1>
<h2> You choose which day of the month for delivery and you'll be charged 2 days before delivery! You never have to worry about running out of water again</h2>
<h2> All our plans can be cancelled at <b>anytime<b>, no fees, no charges! </h2>


<div id="wrapper">

	<div id="plan1">
		<a href="#"> </a>
               
   	</div>

	<div id="plan2">
       <a href="#"> </a>
	</div>

	<div id="plan3">
      <a href="#"> </a>
	</div>

</div>


<div id ="dialog1" title="Fresh Living">
	<h4> Sign-up to feel the difference</h4>
		<form action = "/Plans" method="POST">

	<label for="first_name"> First Name</label>
	<input type ="text" name="first_name"></br>

	<label for="last_name"> Last Name</label>
	<input type="text" name="last_name"><br>

	<label for="morning_phone"> Morning Phone</label>
	<input type ="number" name="evening_phone"></br>

	<label for="evening_phone"> Evening Phone</label>
	<input type ="number" name="evening_phone"></br>

	<label for="email"> Email Address </label>
	<input type ="email" name="email"></br>

	<label for="plan type"> Hydrated Plan </label><br>

	<input type="submit" id="submit">
</form>
</div>

<div id ="dialog2" title="Clean Living">
	<h4> Sign-up to never be thirsty again </h4>
		<form action = "/Plans" method="POST">

	<label for="first_name"> First Name</label>
	<input type ="text" name="first_name"></br>

	<label for="last_name"> Last Name</label>
	<input type="text" name="last_name"><br>

	<label for="morning_phone"> Morning Phone</label>
	<input type ="number" name="evening_phone"></br>

	<label for="evening_phone"> Evening Phone</label>
	<input type ="number" name="evening_phone"></br>

	<label for="email"> Email Address </label>
	<input type ="email" name="email"></br>

	<label for="plan type"> Quenched Plan </label><br>

	<input type="submit" id="submit">
</form>
</div>


<div id ="dialog3" title="Fresh Living">
	<form action = "/Plans" method="POST">
	<h4> Sign-up to feel the difference</h4>
	

	<label for="first_name"> First Name</label>
	<input type ="text" name="first_name"></br>

	<label for="last_name"> Last Name</label>
	<input type="text" name="last_name"><br>

	<label for="morning_phone"> Morning Phone</label>
	<input type ="number" name="evening_phone"></br>

	<label for="evening_phone"> Evening Phone</label>
	<input type ="number" name="evening_phone"></br>

	<label for="email"> Email Address </label>
	<input type ="email" name="email"></br>

	<label for="plan type"> Alive Plan </label><br>

	<input type="submit" id="submit">
</form>
</div>