
@font-face {
    font-family: "Slabo 27px";
    src: url('Slabo27px.ttf');
}

html,body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

body{
	font-size: 13px;
	font-family: "Slabo 27px";
	font-style: normal;
	font-weight: 400;
}

a {text-decoration: none;}

h1{
	 font-size: 34px;
	 line-height: 73px;
	 text-align: center;
	 margin-top: 5px;
	 margin-bottom: 0;
}

h2{	text-align: center;}

h3{
	 font-size: 18px;
	 line-height: 73px;
	 text-align: center;
	 margin-top: 5px;
}

h4{	text-align: right; }

p{
	 font-size: 18px;
	 line-height: 26px;
	 text-align: center;
	 font-weight: 600;
}


header {
 background-color: rgb(66,133,244);
 position: fixed;
 top: 0;
 left:0;
 right: 0;
 font-size: 18px;
 z-index: 5001;
}

ul{
 margin: 0;
 padding: 0;
}

nav ul.main-bar{
	text-align: left;
	font-weight: 400;

}

nav ul.main-bar li {
 color: #fff;
 display: inline-block;
 padding: 1em 3em;
 background-color: rgb(66,133,244);
 /*border: 1px solid #1d2531;*/
 text-decoration: none;
}

nav ul.main-bar li:hover{ background-color: rgb(55,133,200);}

nav ul li a:visited{
	color: #fff; 
	display: block; 
	text-decoration: none;
}

.logo{
 color:#fff;
 text-align:left;
 font-size:50px;
 padding: 10px;
 background-image: url('');
 width: 200px;
}

a:visited {
	text-decoration: none;
	color: #fff;
}

.container{
 height:150px;
}

.section{
	position: relative;
	display: inline-block;
    width:99%;
    height:350px;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 10px;
}

.section_main {
  position: relative;
  display: inline-block;
  width:99%;
  height:500px;
  border-style: solid;
  border-color: rgb(66,133,244);
  border-width: 3px;
  margin-bottom: 10px;
  background: url('https://lh5.googleusercontent.com/-uITxt6RcH1M/VN9ulYkzOCI/AAAAAAAAA28/aU4X4fQ4_nE/w803-h324-no/greenland-sail.gif');
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


#mainCell{
	border-style: solid;
	border-width: 3px;
	border-color: rgb(66,133,244);
	width: 99%;
	height: 500px;
	margin-bottom:10px;
	background-image: url("/water.jpg");
	background-size: 100% 600px;
}
#secondCell{
	border-style: solid;
	border-color: rgb(66,133,244);
	width: 99%;
	height: 500px;
	margin-bottom: 10px;
	background-image: url("/waterworldmap.jpg");
	background-repeat:no-repeat;
	background-size: 100% 600px;
}
#thirdCell{
	border-style: solid;
	border-color: rgb(66,133,244);
	width: 99%;
	height: 500px;
	margin-bottom: 10px;
	background-image: url("/healthy_water.jpg");
	background-repeat:no-repeat;
	background-position: center;
}
#fourthCell{
	border-style: solid;
	border-color: rgb(66,133,244);
	width: 99%;
	height: 500px;
	margin-bottom: 10px;
	background-image: url("/a-cup-of-coffee-399485_1280.jpg");
	background-size: 100% 600px;
}


.plans1:hover{ cursor: hand; }

#plan1{
	border-style: solid;
	display: inline-block;
	margin: 10px;
	margin-left: 30px;
	border-color: rgb(66,133,244);
	width: 31%;
	height: 500px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-image: url("/hydrated.jpg");
	background-repeat: no-repeat;
	cursor: hand;
}


#plan2{
	border-style: solid;
	display: inline-block;
	border-color: rgb(66,133,244);
	margin: 10px;
	width: 31%;
	height: 500px;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-image: url("/quenched.jpg");
	background-repeat: no-repeat;
	cursor: hand;
}
#plan3{
	border-style: solid;
	display: inline-block;
	border-color: rgb(66,133,244);
	margin: 10px;
	width: 31%;
	height: 500px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-image: url("/alive.jpg");
	background-repeat: no-repeat;
	cursor: hand;
}

#intro {
  position: relative;
  width: 100%;
  height: 185vh;
  background: url('http://giant.gfycat.com/WaterloggedSecondhandDutchsmoushond.gif');
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


.factbox1{
	border-style: solid;
	display: inline;
	border-color: rgb(66,133,244);
	margin: auto;
	width: 30%;
	height: 10%;
/*	float: left;
*/
}

.factbox2{
	border-style: solid;
	display: inline;
	border-color: rgb(66,133,244);
	margin: auto;
	width: 30%;
	height: 10%;
/*	float: right;
*/}

.factbox3{
	border-style: solid;
	display: inline;
	border-color: rgb(66,133,244);
	margin: auto;
	width: 30%;
	height: 10%;
/*	float: left;
*/}

.factboxspace{
/*	border-style: solid;
*//*	display: inline;
*/	border-color: rgb(66,133,244);
	margin: auto;
	width: 30%;
	height: 10%;
/*	float: left;
*/
}

.factbox4{
	border-style: solid;
	display: inline;
	border-color: rgb(66,133,244);
	margin: auto;
	width: 30%;
	height: 10%;
/*	float: right;
*/}

.factbox5{
	border-style: solid;
	display: inline;
	border-color: rgb(66,133,244);
	margin: auto;
	width: 30%;
	height: 10%;
/*	float: left;
*/}

.factbox6{
	border-style: solid;
	display: inline;
	border-color: rgb(66,133,244);
	margin: auto;
	width: 30%;
	height: 10%;
/*	float: right;
*/}


#dialog1{
	border-style: solid;
	border-color: rgb(66,133,244);
	background-color: rgba(66,133,244,.2);
}

footer{
	background-color: rgb(66,133,244);
 	width: 100%;
 	height: 140px; 
 	bottom: 0;
 	display: block;
 	float: left;
 	top: 0;
 	left:0;
 	right: 0; 	
}

#footer-wrapper{
	/*width: 100%;*/
	margin: 20px;
	text-align: left;
	font-size: 18px;
	right: 0;
/*	padding-top: 100px;*/
}

#footer ul{
	list-style-type: none; 
	padding: 0;
	margin: 0;
	font-weight: 400;
}
#footer ul li{
	padding-bottom: 10px;
	width: 160px;
	display: inline-block;
	padding: 7px 8px;

 }

#footer ul li:hover{ background-color: rgb(55,133,200);}

#footer ul li a:visited{
	color: #fff; 
	display: block; 
	text-decoration: none;
}
.icons{
	margin-left:30px;
	display: inline-block;

}
