@font-face {
    font-family: "Slabo 27px";
    src: url('Slabo27px.ttf');
}

.logo{
	font-size: 18px;
	font: #000
}

#mainCell{
	border-style: solid;
	border-color: rgb(66,133,244);
	/*border-radius: 50%;*/
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}
#secondCell{
	border-style: solid;
	border-color: rgb(66,133,244);
	/*border-radius: 50%;*/
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}
#thirdCell{
	border-style: solid;
	border-color: rgb(66,133,244);
	/*border-radius: 50%;*/
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}
#fourthCell{
	border-style: solid;
	border-color: rgb(66,133,244);
	/*border-radius: 50%;*/
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
}
/*.box1{
	position: relative;
	display: block;
  	margin: 0 auto;
    float: left;
    width: 20%;
   	font-size: 1.2em;
  	border-radius: 5px;
  	line-height: 1;
  	background-color: rgb(66,133,244);
  	text-align: center;
}*/


body{
	/* padding: 50px 0;*/
	position: relative;
	 font-size: 13px;
	 font-family: "Slabo 27px";
	 font-style: normal;
	 font-weight: 400;
}

.section{
	position: relative;
	display: inline-block;
    width:100%;
    height:200px;
    border-style: solid;
    margin-bottom: 10px;
}


h1{
	 font-size: 34px;
	 line-height: 73px;
	 text-align: center;
	 margin-top: 5px;
	 margin-bottom: 0;
}

h2{
	text-align: center;
}

h3{
	 font-size: 18px;
	 line-height: 73px;
	 text-align: center;
	 margin-top: 5px;
	 /*margin-bottom: 25px;*/
}

p{
	 font-size: 17px;
	 line-height: 26px;
	 /*margin-bottom: 35px;*/
}
nav{
	position: relative;
	display: inline-block;
	background-color: rgb(66,133,244);
	font-size: 18px;
	height: 120px;
	width: 100%;
}

a:link{
	text-decoration: none
}

ul{
	list-style: none;
	margin-top: 0;
}

ul li {
	float: left;
	width: 150px;
	position: relative;
}

ul li a {
	display: block;
	padding: 7px 8px;
	
}

nav ul li a:hover {
	background-color: rgb(55,133,200);
}

nav ul li a:visited{
	color: #CCC; 
	display: block; 
	text-decoration: none;
}

/*footer{
	margin:0 auto;
	text-align: left;
	padding-top: 30px;
	font-size: 18px;
}*/
#footer{
	background-color: rgb(66,133,244);
 	width: 100%;
 	height: 140px; 
 	bottom: 0;
 	display: block;
 	float: left;
 	
}
#footer-wrapper{
	width: 100%;
	margin: 20px;
	text-align: left;
	font-size: 18px;
/*	padding-top: 100px;*/
}
#footer ul{
	list-style-type: none; 
	padding: 0;
	margin: 0;
}
#footer ul li{
	padding-bottom: 10px;
		width: 160px;
	display: inline-block;
	padding: 7px 8px;

 }

#footer ul li:hover{
	background-color: rgb(55,133,200);
}

#footer ul li a:visited{
	color: #CCC; 
	display: block; 
	text-decoration: none;
}
.icons{
	margin-left:40px;
}
s