@font-face {
    font-family: "Slabo 27px";
    src: url('Slabo27px.ttf');
}

body{
	/* padding: 50px 0;*/
	 font-size: 13px;
	 font-family: "Slabo 27px";
	 font-style: normal;
	 font-weight: 400;
}


h1{
	 font-size: 64px;
	 line-height: 73px;
	 /*margin-bottom: 25px;*/
}

p{
	 font-size: 17px;
	 line-height: 26px;
	 /*margin-bottom: 35px;*/
}
nav{
	position: relative;
	display: inline-block;
	background-color: rgb(66,133,244);
	font-size: 18px;
	height: 110px;
	width: 100%;
}

ul{
	list-style: none;
}

nav li {
	float: left;
	width: 160px;
	position: relative;
}

nav li a {
	display: block;
	padding: 7px 8px;
	
}

nav ul li a:hover {
	background-color: rgb(55,133,200);
}

nav ul li a:visited{
	color: #CCC; 
	display: block; 
	text-decoration: none;
}

footer{
	margin:0 auto;
	text-align: left;
	padding-top: 30px;
	font-size: 18px;
}
#footer{
	background-color: rgb(66,133,244);
 	width: 100%;
 	height: 150px; 
 	bottom: 0;
 	display: block;
 	float: left;
 	
}
#footer-wrapper{
	width: 100%;
	margin: 20px;
	text-align: left;
/*	padding-top: 100px;*/
}
#footer ul{
	list-style-type: none; 
	padding: 0;
	margin: 0;
}
#footer ul li{
	padding-bottom: 10px;
	display: inline-block;
	padding: 7px 8px;

 }

#footer ul li:hover{
	background-color: rgb(55,133,200);
}

#footer ul li a:visited{
	color: #CCC; 
	display: block; 
	text-decoration: none;
}
.icons{
	margin-left:40px;
}

/*nav{
	position: relative;
	display: inline-block;
	background-color: rgb(66,133,244);
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 20px 0px;
}

ul li {
	display: inline;
}

ul li a {
	/*color: #fff;*/
/*	text-decoration: none;
	padding: 0px 25px;*/
/*}*/*/

/*p.weights{
	 letter-spacing: 2px;
	 font-size: 13px;
	 color: rgba(173,173,173,1);
	 margin-bottom: 35px;
	 border-width: 0px 0px 1px 0px;
	 border-style: dotted;
	 margin-top: 45px;
}

p.pullquote{
	 font-size: 17px;
	 line-height: 26px;
	 margin-bottom: 35px;
	 padding-left: 15px;
	 border-width: 0px 0px 0px 3px;
	 border-style: solid;
}

p.map{
	 font-weight: 400;
	 font-style: normal;
	 margin-bottom: 0px;
	 text-align: justify;
	 font-size: 27px;
	 line-height: 54px;
	 margin-top: 0px;
}

p.heading{
	 letter-spacing: 2px;
	 font-size: 13px;
	 margin-bottom: 35px;
	 border-width: 0px 0px 1px 0px;
	 border-style: dotted;
	 margin-top: 45px;
	 color: rgba(0,0,0,1);
}

p.intro{
	 margin-bottom: 35px;
	 font-size: 21px;
	 line-height: 28px;
}

p.inverse-big{
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
}

p.inverse-med{
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
	 padding-top: 0px;
	 font-size: 15px;
}

p.inverse-small{
	 padding-top: 0px;
	 padding-left: 30px;
	 padding-right: 30px;
	 padding-bottom: 30px;
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 font-size: 13px;
}

p.inverse-heading{
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
	 padding-bottom: 0px;
	 font-size: 15px;
	 letter-spacing: 2px;
	 margin-top: 50px;
}

*/